.light-color a:not(.btn):hover,
.light-color h1:not([class*="-color"]),
.light-color .h1:not([class*="-color"]),
.light-color h2:not([class*="-color"]),
.light-color .h2:not([class*="-color"]),
.light-color h3:not([class*="-color"]),
.light-color .h3:not([class*="-color"]),
.light-color h4:not([class*="-color"]),
.light-color .h4:not([class*="-color"]),
.light-color h5:not([class*="-color"]),
.light-color .h5:not([class*="-color"]),
.light-color h6:not([class*="-color"]),
.light-color .h6:not([class*="-color"]),
.white-color.form-control,
.white-color .form-control,
.light-color .label,
.white-color label.error,
.white-color .label,
.light-color b,
.light-color strong {
  color: #33c033;
}

/* .main-section {
  opacity: 0.6;
}
.section-title-container {
  opacity: 1;
} */
.mask-custom {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.55);
}

div.modal-backdrop {
  z-index: -1;
}

.btn-custom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-custom button {
  margin: 6px 20px;
}
.btn:hover {
  opacity: 0.7;
}
.btn-outline-danger {
  border-color: rgba(226, 157, 157, 0.63);
}
